/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% .5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }




.sorting,
.sorting_asc,
.sorting_desc{
	background-image: none!important;
}
.prod-view-title{
	min-height: 40px;

}
.prod-view-desc{
	min-height: 140px;
}

.input-control.text.big-input{
	width: 100%;

}
.input-control.text.big-input button{
	/*padding: 0;*/
	border: none;
	background: none;
}
#checkout{
	width: 100%;
	height: 100px;
	font-size: 18px;
}
/*#checkout:hover{
color:black;
}*/
/*#searchbar{
width: 100%;font-size: 34px;
}*/
/*#searchcontainer{margin-top: 50px;padding-right: 5%;padding-left: 5%;
}*/
#prodview{
	min-height: 300px;
}
#noprod{
	padding-top: 10%;
}
#noprod-container{
	width: 100%;text-align: center;
}

#cart_id_wrapper{
	/*border: 2px solid grey;*/
}

.sorting, .sorting_asc, .sorting_desc {
	background : none;
}
.paginate_button{
	font-size: 12px;
}
#row_1{
	text-align: left;
}
.btntype{
	width: 100%;height: 80px;margin: 10px;margin-right: 0px;margin-left: 0px;font-size: 20px;
}

table{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
thead{text-align: center;font-size: 14px;

}
tbody{text-align: center;color:black;font-size: 12px;

}

.separator{
	padding: 10px;border: 1px solid black;border-radius: 5px;
}
.title-sep{
	width: 100%;text-align: center;

	/*background-color: gray;*/
}

.modal-body{
	color:black;
}
.container{
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
}

.btn.btn-primary.btn-lg{
	color: white !important;
}

.navbar-brand{
	padding-left: 0px;
	padding-right: 0px;
	font-size: 16px;
	margin-left: 5px;
}
.navbar-toggle{
	margin-right: 10px;
}
html,body{
	margin: 0;
	/*overflow-x: hidden;*/
	max-width: 100%;
}
body{
	overflow-x: hidden;
}

.thumbnail.featured-product{
	min-height: 490px;
}

.input-control.text,
.input-control.password,
.input-control.textarea{
	width: 100%;
}

#submit{
	width: 100%;
}
