body{

}
.prod-view-title{
  min-height: 40px;

}
.prod-view-desc{
  min-height: 140px;
}

#checkout{
  width: 100%;
  font-size: 18px;
  height: 50px;
  color:black;
}
#checkout:hover{
  color:black;
}
#searchbar{
  width: 100%;
  font-size: 34px;
}
#searchcontainer{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 50px;
}
#prodview{
  min-height: 300px;
}
#noprod{
  padding-top: 10%;
}
#noprod-container{
  width: 100%;
  text-align: center;
}

#cart_id_wrapper{
  /*border: 2px solid grey;*/
}

.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
.paginate_button{
  font-size: 12px;
}
#row_1{
  text-align: left;
}
.btntype{
  width: 100%;
  font-size: 20px;
  height: 80px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
table{
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
thead{
  font-size: 14px;
  text-align: center;
}
tbody{
  color:black;
  font-size: 12px;
  text-align: center;
}

.separator{
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.title-sep{
  width: 100%;

  text-align: center;
  /*background-color: gray;*/
}

.modal-body{
  color:black;
}
